html {
  background-color: rgb(194, 194, 194);
}

body { 
  margin: auto;
  background-color: #305973;
  color: #DED5C4;
  font-family: 'Pathway Gothic One', sans-serif;
  /* max-width: 80%; */
}

nav {
  padding: 20px;
  background-color: #EF7E56;
}

p {
  font-size: 20px;
}

#scraped, #saved {
  min-height: 900px;
}


footer.page-footer {
  background-color: #EF7E56;
}